/Applied_statistics
/Capstone Project AIML
/computer vision
/datasets_for_practice
/EDA&dataPreProcessing
/Ensamble_technique
/Featurization, Model Selection & Tuning
/Introduction to Neural Network and Deep Learning
/model depolyment
/recomendation_system
/status_of_learning.xlsx
/supervised_learning
/syllabus.rtf
/time series forecasting
/unsupervised learning
/week_1